<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Entry</title>
</head>

<body>
<form class="row g-3" th:action="@{/user/save}" th:object="${user}" method="post">
  <div class="col-md-6">
    <label for="inputFullName" class="form-label">Full Name</label>
    <input type="text" class="form-control" id="inputFullName" th:field="${user.fullName}">
    <p th:if="${#fields.hasErrors('fullName')}" th:errorclass="text-danger" th:errors="${user.fullName}"></p>
  </div>
  <div class="col-md-6">
    <label for="inputContactNumber" class="form-label">Contact Number</label>
    <input class="form-control" id="inputContactNumber">
    <p th:if="${#fields.hasErrors('emailAddress')}" th:errorclass="text-danger" th:errors="${user.emailAddress}"></p>
  </div>
  <div class="col-12">
    <label for="inputNIC" class="form-label">National ID Number</label>
    <input type="text" class="form-control" id="inputNIC" placeholder="eg.123456789v">
    <p th:if="${#fields.hasErrors('nic')}" th:errorclass="text-danger" th:errors="${user.nic}"></p>
  </div>
  <div class="col-12">
    <label for="inputStreetAddress" class="form-label">Street Address</label>
    <input type="text" class="form-control" id="inputStreetAddress" placeholder="eg.Samagi Mawatha">
    <p th:if="${#fields.hasErrors('gramaDivision')}" th:errorclass="text-danger" th:errors="${user.gramaDivision}"></p>
  </div>
  <div class="col-md-4">
    <label for="inputProvince" class="form-label">Province</label>
    <select id="inputProvince" class="form-select">
      <option selected>Choose...</option>
      <option>Western Province</option>
      <option>Central Province</option>
      <option>Eastern Province</option>
      <option>Northern Province</option>
      <option>North Western Province</option>
      <option>North Central Province</option>
      <option>Sabaragamuwa Province</option>
      <option>Southern Province</option>
      <option>Uva Province</option>
      <option>Western Province</option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="inputDistrict" class="form-label">Province</label>
    <select id="inputDistrict" class="form-select">
      <option selected>Choose...</option>
      <option>Western Province</option>
      <option>Central Province</option>
      <option>Eastern Province</option>
      <option>Northern Province</option>
      <option>North Western Province</option>
      <option>North Central Province</option>
      <option>Sabaragamuwa Province</option>
      <option>Southern Province</option>
      <option>Uva Province</option>
      <option>Western Province</option>
    </select>
  </div>

  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
</body>
</html>